



<div class="container mt-5">
  <div class="row d-flex align-items-center">

        <div class="d-flex justify-content-center ">



          <!-- card PROVAS -->
            <div class="card col-xs-12 col-sm-3 col-md-3 col-lg-3 m-3 p-0">
              <div class="card-body align-items-center">
                <img class="card-img img-fluid rounded-circle my-5 align-items-center"
                  src="https://i.imgur.com/maAdGcZ.png" alt="" width="150" height="150">
                <h1 class="text-center fs-16">Prova</h1>
                <p class="text-center fs-14">Crie provas para praticar e aprender algo
                  novo</p>
                  <div class="d-flex justify-content-center">
                    <button class="text-center my-3"  ><a href="/lista-provas">Começar</a></button>
                  </div>

                <ul class="text-center">

                  <li><a class="fs-16 " href="/lista-provas"><i class="fa fa-graduation-cap mx-1 my-2" aria-hidden="true"></i>
                      Provas
                    </a></li>
                </ul>


              </div>
            </div>

        </div>




  </div>
</div>


