<div class="container my-5">
  <div class="row d-flex align-items-center">
      <div class="col-md-12 ">
          <h1 class="text-center">Faça sua prova</h1>
      </div>
  </div>
</div>

<div class="container my-5" >
  <div class="card">
    <div class="card-body">
      <h5 class="card-title texto">{{ prova?.nome }}</h5>
      <p class="card-text">{{ prova?.descricao }}</p>
        <p class="card-text">{{ prova?.id }}</p>
      </div>
    </div>
  </div>


  <div class="container my-5" >
    <div class="row d-flex align-items-center">
      <div class="col-md-12 ">
        <app-questao
        [prova]="prova"></app-questao>
      </div>
    </div>
  </div>


